# test or production, only affects log level and colorization
NODE_ENV=test

# true to scrobble, false to only output what would be scrobbled
SA_SHOULD_SCROBBLE=false

# set SA_TESTING_MODE to "once" to do a single scrape of the specified scrapers, "continuous" to continuously scrape the specified scrapers, or anything else to run normally (continuously scrape all scrapers loaded from MongoDB)
SA_TESTING_MODE=once

# use this to specify which scrapers to run in test, scrapers are separated by commas and a param can be set by using a pipe
SA_TESTING_MODE_SCRAPERS=RadioRiel|rrsteampunk,RadioRiel|radioriel,NewLastFM|bbcradio2,KEXP

# The Last.fm API key and secret used for scrobbling
SA_LASTFM_API_KEY=xxx
SA_LASTFM_SECRET=xxx

# A random string used to encrypt the sessions of the last.fm accounts
SA_USER_CRYPTO_KEY=xxx 
SA_STATION_CRYPTO_KEY=xxx

# The URI of the MongoDB database that contains the user and station data
SA_MONGO_URI=mongodb://user:pw@url:port/db

# Twitter API access codes (access token stuff is probably not needed) 
TWITTER_CONSUMER_KEY=xxx
TWITTER_CONSUMER_SECRET=xxx
TWITTER_ACCESS_TOKEN_KEY=xxx
TWITTER_ACCESS_TOKEN_SECRET=xxx